pipeline/demo.json
{
	"name": "demo",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"description": "adf notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "user",
						"value": "hiep"
					}
				],
				"typeProperties": {
					"notebookPath": "/Users/hiepntp@fpt.com/general_test/adf",
					"baseParameters": {
						"param": {
							"value": "@variables('var')",
							"type": "Expression"
						},
						"today": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"hehehe": {
							"value": "@pipeline().parameters.p_today",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "check",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_today": {
				"type": "string"
			}
		},
		"variables": {
			"var": {
				"type": "String",
				"defaultValue": "kkk"
			}
		},
		"annotations": []
	}
}