pipeline/demo.json
{
	"name": "demo",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"description": "adf notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "user",
						"value": "hiep"
					}
				],
				"typeProperties": {
					"notebookPath": "/Users/hiepntp@fpt.com/general_test/adf",
					"baseParameters": {
						"param": {
							"value": "@variables('var')",
							"type": "Expression"
						},
						"today": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"hehehe": {
							"value": "@pipeline().parameters.p_today",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "check",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look for all tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ', item().SchemaName, ',', item().TableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "parquetTables",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_today": {
				"type": "string"
			}
		},
		"variables": {
			"var": {
				"type": "String",
				"defaultValue": "kkk"
			}
		},
		"annotations": []
	}
}